*{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
body{
    background-color: #673C4F;
    text-align: center;
    
}
.container{
    height: 70vh; 
    /* for height of container contain 70% of page */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* gap between row */

}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: aliceblue;
    border:none;
    box-shadow: 0,0,0,0.3;
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#726E97 ;
    color: white;
    border-radius: 1rem;
    border: none;
}
.new-but{
    background-color: #726E97;
    color: aliceblue;
    border: none;
    border-radius: 0.5rem;
    font-size: 4%;
}
.msg{
    font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}
