* {
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
    height: 3rem;
    text-align: center;
 
}

.space {
    column-gap: 3rem;
    padding: 2rem;
    
}

.allkeys {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    width: 280px;
    border: 1px solid black;
    margin-left: 20px;
    font-size: 10rem;
    gap: 0.9rem;
    row-gap: 0cap;
    white-space-collapse: collapse;
}

.keyequal {
    height: 3rem;
    width: 8rem;
    /* grid-column: span 2; */
    /* Make the button span 2 columns */
    /* font-size: xx-large; */
}

button {
    height: 3rem;
    width: 3.6rem;
    font-size: xx-large;
    white-space-collapse: collapse;
}